@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "NewYorkReg";
  src: url("anino-cds\quartz\static\fonts\NewYorkSmall-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewYorkBold";
  src: url("anino-cds\quartz\static\fonts\NewYorkSmall-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewYorkBoldIt";
  src: url("anino-cds\quartz\static\fonts\NewYorkSmall-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewYorkBlack";
  src: url("anino-cds\quartz\static\fonts\NewYorkSmall-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NewYorkReg", serif;
}
